.header {
  padding: 8px 0;
  border-bottom: 1px solid #484848;
}

.box {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 8px;
  align-items: center;
}

.link {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
}

.active {
  color: #fff;
  background-color: #484848;
}

.logo {
  font-weight: 600;
  font-family: var(--font-montserrat);
}
