.grid {
  display: grid;
  /* grid-template-columns: 200px 2fr 1fr; */
  grid-template-columns: 200px 1fr;
  gap: 8px;
  min-height: 100%;
  background-color: white;
  flex: 1;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 8px;
}

.grid > .folders,
.grid > .emails,
.grid > .preview {
  display: flex;
  flex-direction: column;
  flex: 1;
}
