.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link {
  display: block;
  padding: 4px 8px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.active {
  background-color: #d6d6d6;
}
